body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e0e0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 20px;
}

h1 {
    color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add button styles here */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#seedNotification {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
